<div class="form-inline">
  <div class="form-group">
    <div class="input-group mr-3">
      <input type="text"
             class="form-control"
             placeholder="Search.."
             [formControl]="searchFormControl">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                (click)="searchFormControl.setValue('')">
          x
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<table class="table table-striped" cdk-table [dataSource]="dataOnPage$">

  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>

  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('name')">Name
      <span *ngIf="sortKey$.value === 'name'">
      {{ sortDirection$.value === 'asc' ? '↥' : '↧' }}
    </span></th>
    <td cdk-cell *cdkCellDef="let row">{{row.name}}</td>
  </ng-container>

  <ng-container cdkColumnDef="age">
    <th cdk-header-cell *cdkHeaderCellDef>Age</th>
    <td cdk-cell *cdkCellDef="let row">{{row.age}}</td>
  </ng-container>

  <ng-container cdkColumnDef="email">
    <th cdk-header-cell *cdkHeaderCellDef>Email</th>
    <td cdk-cell *cdkCellDef="let row">{{row.email}}</td>
  </ng-container>

  <ng-container cdkColumnDef="address">
    <th cdk-header-cell *cdkHeaderCellDef>Address</th>
    <td cdk-cell *cdkCellDef="let row">{{row.address}}</td>
  </ng-container>

  <ng-container cdkColumnDef="picture">
    <th cdk-header-cell *cdkHeaderCellDef>Picture</th>
    <td cdk-cell *cdkCellDef="let row">{{row.picture}}</td>
  </ng-container>

  <ng-container cdkColumnDef="currreq">
    <th cdk-header-cell *cdkHeaderCellDef>Current requitment step</th>
    <td cdk-cell *cdkCellDef="let row">{{row.currreq}}</td>
  </ng-container>

</table>

<ngb-pagination class="pagination justify-content-center"
                [collectionSize]="dataSource$.value.length"
                [pageSize]="pageSize$.value"
                [page]="currentPage$.value"
                (pageChange)="currentPage$.next($event)">
</ngb-pagination>
